[Desktop Entry]
Version=1.5
Type=Application

Name=Cacoco
Comment=Editor for ID24 SBARDEF files
Categories=Development;GUIDesigner;Utility;2DGraphics
Keywords=doom;id24;sbardef

Icon=cacoco
Exec=cacoco %u
MimeType=application/json;application/x-doom-wad
Terminal=false
StartupWMClass=cacoco
